@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');



*{
    margin:0%;
    padding: 0%;
    position: relative;
}
body {
    background-image: url('./img1/bg0.jpg');
    width:100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #333;
}
nav h1{
    color: #e50914;
    margin-left: 3%;
    padding-top: 1%;
    font-family: 'Rubik Wet Paint';
}
nav{
    background-color: #333;
}
nav ol li {
    left:15%;
    font-size: 20px;
    bottom:20px;
    margin-left: 10px;
    color:white;
    display:inline-block;
    text-align: center;
    cursor: pointer;
}
nav ol li:hover{
    background-color: rgba(32, 133, 4, 0.904);
}
.f0{
    top: 230px;
    
}
.item{
    width:90%;
}
.item:hover{
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
    
}
.f1{
    top:200px;
}
.f1 h1{
    color: white;
    margin: 10px;
}
.f2{
    top:180px;
}
.f2 h1{
    color: white;
    margin: 10px;
}
.left h1{
    color:black;
    background-color:rgba(212, 212, 212, 0.904);
    position:relative;
    text-align: center;
    left:222px;
    width:120px;
    top: 160px;
}
.left p{
    color:white;
    background-color:rgba(71, 67, 67, 0.904);
    position:relative;
    left:120px;
    width:330px;
    top: 170px;
}
button{
    position:relative;
    left:132px;
    width:150px;
    height: 30px;
    color:rgb(7, 2, 2);
    background-color: rgba(212, 212, 212, 0.904);
    border-style: none;
    top:181px;
}
footer ul li{
    color:white;
    display: inline-block;
    margin-left:255px;
    left: 15px;
    top: 180px;
    width:80px;
    text-align: center;
    cursor:pointer;
}
footer ul li:hover{
    background-color:rgba(20, 83, 3, 0.904);
}
footer p{
    color:white;
    display: inline-block;
    margin-left:10px;
    left: 525px;
    top: 260px;
    width: 240px;
    text-align: center;
    cursor:pointer;
}
footer p:hover{
    background-color:rgba(20, 83, 3, 0.904);
}